<a href="https://colab.research.google.com/github/NagarajaN-Nethi/in/blob/main/python_assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.1 Write a Python Program to implement your own myreduce() function which works exactly like Python's built-in function reduce()

In [1]:
from functools import reduce

In [2]:
lst = [100,500,1000]

In [3]:
fun = lambda a, b : a + b

In [4]:
reduce(fun, lst)

1600

In [5]:
def myreduce(f, lst):
    if len(lst) == 0:
        return None
    result = lst[0]
    for i in range(1, len(lst)):
        result = f(result, lst[i])
    return result

In [6]:
myreduce(fun,lst)

1600

1.2 Write a Python program to implement your own myfilter() function which works exactly
like Python's built-in function filter()

In [7]:

print("Input:")
number=int(input("Please insert the number: "))

num_list=list(range(1,number+1))
def myfilter(num_list):
    '''This function will filter even and odd numbers from list which are multiples of 5 '''
    num_even_list=[]
    num_odd_list=[]
    
    for i in num_list:
        if(i%5==0):
            if(i%2==0):
                num_even_list.append(i)
            else:
                num_odd_list.append(i)
                
    return num_even_list,num_odd_list


#Function Execution
output_value=myfilter(num_list)

#Output

print("Output:")
print("List of numbers:",num_list)
print("List of Even numbers, which are multiples of 5 are:",output_value[0])
print("List of Odd numbers, which are multiples of 5 are:",output_value[1])

Input:
Please insert the number: 20
Output:
List of numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
List of Even numbers, which are multiples of 5 are: [10, 20]
List of Odd numbers, which are multiples of 5 are: [5, 15]

2.

Implement List comprehensions to produce the following lists.

Write List comprehensions to produce the following Lists

In [8]:
[i*j for i in 'xyz' for j in range(1,5)]

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [9]:
[x*n for n in range(1,5) for x in ['x', 'y', 'z'] ]

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [10]:
lst = [1, 2, 3]
[[x+n] for x in lst for n in range(0,3)]

[[1], [2], [3], [2], [3], [4], [3], [4], [5]]

In [11]:
input_list = [2,3,4]
result = [ [item+num] for item in input_list for num in range(0,3)]
print(str(result))
input_list = [2,3,4,5]
result = [ [item+num for item in input_list] for num in range(0,4)  ]
print(str(result))

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]
[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [12]:
lst = [1, 2, 3]
result = [ (b, a) for a in lst for b in lst]
print(str(result))

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]